@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BoardWedApp.Models.TempProfile // Profile 모델 사용하면 안됨!!

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>profile</h4>



<hr />

<div class="row">
    <div class="col-md" style="min-height:638px">
        <form asp-action="Edit" asp-controller="Profile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" placeholder="Top | Card1 | Card2 | Card3 중 선택" />
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control editor" rows="3" placeholder="내용입력"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
            
                <input asp-for="Url" class="form-control" placeholder="https://www.sample.com" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="hidden" asp-for="FileName" />
                <label asp-for="Url" class="control-label"></label>&nbsp;
                <span class="text-secondary text-capitalize">업로드 파일 : @Model.FileName</span>
                <label asp-for="ProfileImage" class="control-label"></label>
                <input asp-for="ProfileImage" class="form-control" type="file" accept=".jgg, .png, .jpeg" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="수정" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-secondary btn-sm">목록</a>
            </div>
        </form>

    </div>

</div>
<br />

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
